<div class="Heading">
  <h1 class="HeadingTitle">Pokémon Trainer</h1>
  <div *ngIf="username" class="HeadingUser">
    <div class="dropdown show">
      <button class="btn ProfileButton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="UserGrid">
          <div class="material-icons-outlined UserGridItem">
            account_circle
          </div>
          <div class="UserGridItem">{{username}}</div>
        </div>
      </button>
      <div class="dropdown-menu ProfileButton" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item NavItem" (click)="onCatalogueClicked()">Catalogue</div>
        <div class="dropdown-item NavItem" (click)="onTrainerClicked()">Trainer</div>
        <div class="dropdown-item NavItem" (click)="onLogoutClicked()">Logout</div>
      </div>
    </div>
  </div>
</div>
