.Heading {
  background-color: var(--colorSunglow);
  color: var(--colorRoyalDarkBlue);
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-family: 'Luckiest Guy', cursive;
}

.HeadingTitle {
  padding-right: 10px;
}

.HeadingUser {
  text-align: right;
}

.ProfileButton {
  border: none;
  margin: 0 10px 0 10px;
  background-color: var(--colorSunglow);
  color: var(--colorRoyalDarkBlue);
}

.UserGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.UserGridItem {
  padding-right: 10px;
  font-size: larger;
  margin: auto;
}

.NavItem {
  color: var(--colorRoyalDarkBlue);
  font-size: larger;
}

@media screen and (min-width: 48em) {
  .UserGrid:hover {
    text-shadow: 3px 3px 3px var(--colorMinionYellow);
  }

  .UserGridItem:hover {
    text-shadow: 3px 3px 3px var(--colorMinionYellow);
  }
}
