.CatalogItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PokemonIndex {
  width: 5em;
  padding: 3px;
  text-align: right;
  font-family: 'Luckiest Guy', cursive;
  font-size: large;
}

.PokemonName {
  width: 12em;
  padding: 5px;
  font-family: 'Luckiest Guy', cursive;
  font-size: large;
}