<div *ngIf="pokemon!==undefined && pokemon!==null">
  <div class="CatalogItem" (click)="onClick()">
    <div *ngIf="pokemon.collected; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock><img src="assets/images/PokeballSmall.png" alt="Owned"></ng-template>
    <ng-template #elseBlock><img src="assets/images/EmptySmall.png" alt="Not owned"></ng-template>
    <img src="{{pokemon.image}}" alt="{{pokemon.pokedex}}.png">
    <p class="PokemonIndex">{{pokemon.pokedex}}</p>
    <p class="PokemonName">{{pokemon.name}}</p>
  </div>
</div>
