<div class="TrainerHeader Section">
  <h3 class="TrainerHeaderDescription">Trainer Collection</h3>
  <input type="text" placeholder="Filter" #filterBox id="filterBox" (input)="setFilter(filterBox.value)">
</div>
<ng-container *ngIf="inventory.length > 0">
  <div class="TrainerItems Section">
    <ul>
      <li *ngFor="let pokemon of page">
        <app-trainer-item
          [pokemon]="pokemon"
          (clicked)="handleClick($event)"
          data-toggle="modal" data-target="#detailsModal">
        </app-trainer-item>
      </li>
    </ul>
    <div class="Directions">Click a Pokémon to view its details.</div>
    <div class="PageControl">
      <button class="material-icons-outlined PageArrow" (click)="goBack()">
        chevron_left
      </button>
      <h4 class="PageNumber">{{pageIndex + 1}}</h4>
      <button class="material-icons-outlined PageArrow" (click)="goForward()">
        chevron_right
      </button>
    </div>
  </div>
</ng-container>

<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">Pokémon Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-pokemon-details></app-pokemon-details>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>