<div *ngIf="pokemon!==undefined && pokemon!==null">
  <div class="TrainerItem" (click)="onClick()">
    <img src="{{pokemon.image}}" alt="{{pokemon.pokedex}}.png">
    <p class="PokemonIndex">{{pokemon.pokedex}}</p>
    <p class="PokemonName">{{pokemon.name}}</p>
  </div>
</div>

