<div class="LoginLayout">
  <img class="LoginLogo" src="assets/images/1920px-International_Pokémon_logo.svg.png">
  <div class="LoginDescription Section">
    <h1 class="DescriptionHeader">Pokémon Trainer</h1>
    <p>The application allows a user to collect Pokémon received from the PokeAPI.</p>
  </div>
  <div class="LoginInput Section">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text material-icons-outlined">
            keyboard
          </span>
        </div>
        <input 
          class="form-control"
          type="text"
          placeholder="What's your name?"
          formControlName="username"
          required>
        <div class="input-group-append">
          <button type="submit" class="input-group-text material-icons-outlined">
            login
          </button>
        </div>
      </div>
      <div *ngIf="username && username.invalid && (username.dirty || username.touched)" 
        class="alert alert-danger">
        <div *ngIf="username.errors?.required">
          Name is required.
        </div>
        <div *ngIf="username.errors?.minlength">
          Name must be at least 2 characters long.
        </div>
      </div>
    </form>
  </div>
</div>
