.LoginLayout {
  display: block;
}

.LoginLogo {
  width: 50%;
  display: block;
  margin: auto;
  padding-top: 1em;
}

.LoginDescription {
  margin: 1em;
  margin-bottom: 1em;
}

.DescriptionHeader {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

.LoginInput {
  margin: 0 1em 0 1em;
}

.alert{
  margin-bottom: 0;
}

@media screen and (min-width: 48em) {
  .LoginLayout {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  
  .LoginLogo {
    width: 90%;
    grid-column: 1;
    grid-row: 1;
    padding-top: 0;
  }
  
  .LoginDescription {
    grid-column: 2;
    grid-row: 1;
  }

  .LoginInput {
    grid-column: 2;
    grid-row: 2;
  }
}