.PokemonDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.PokemonName {
  grid-column: 1;
  grid-row: 1;
}

.PokemonAbilities {
  grid-column: 1;
  grid-row: 2;
}

.PokemonTypes {
  grid-column: 1;
  grid-row: 3;
}

.PokemonStats {
  grid-column: 2;
  grid-row: 1 / 4;
}