<div class="PokemonDetails">
  <div class="PokemonName">Name: {{pokemonDetails.name}}</div>
  <div class="PokemonStats">
    <div>Stats:</div>
    <ul>
      <li *ngFor="let stat of pokemonDetails.stats">{{stat.stat.name}}: {{stat.base_stat}}</li>
   </ul>
  </div>
  <div class="PokemonAbilities">
    <div>Abilities:</div>
    <ul>
      <li *ngFor="let ability of pokemonDetails.abilities">{{ability.ability.name}}</li>
    </ul>
  </div>
  <div class="PokemonTypes">
    <div>Types:</div>
    <ul>
      <li *ngFor="let type of pokemonDetails.types">{{type.type.name}}</li>
    </ul>
  </div>
</div>
