.CatalogueHeader {
  margin: 1em;
  font-family: 'Luckiest Guy', cursive;
  font-size: large;
  display: flex;
  align-items: center;
}

.CatalogueHeaderDescription {
  padding-right: 10px;
}

.CatalogueItems {
  margin: 1em;
}

.Directions {
  text-align: center;
}

.PageControl {
  display: flex;
  justify-content: center;
}

.PageArrow {
  background-color: var(--colorLightSkyBlue);
  border: none;
}

.PageNumber {
  padding: 10px;
  vertical-align: middle;
}

@media screen and (min-width: 48em) {
  .PageArrow:hover {
    color: var(--colorMinionYellow);
  }
}