<div class="CatalogueHeader Section">
  <h3 class="CatalogueHeaderDescription">Catalogue</h3>
  <input type="text" placeholder="Filter" #filterBox id="filterBox" (input)="setFilter(filterBox.value)">
</div>
<ng-container *ngIf="catalogue.length > 0">
  <div class="CatalogueItems Section">
    <ul>
      <li *ngFor="let pokemon of page">
        <app-catalogue-item
          [pokemon]="pokemon"
          (clicked)="handleClick($event)"></app-catalogue-item>
      </li>
    </ul>
    <div class="Directions">Click a Pokémon to add/remove it from your collection.</div>
    <div class="PageControl">
      <button class="material-icons-outlined PageArrow" (click)="goBack()">
        chevron_left
      </button>
      <h4 class="PageNumber">{{pageIndex + 1}}</h4>
      <button class="material-icons-outlined PageArrow" (click)="goForward()">
        chevron_right
      </button>
    </div>
  </div>
</ng-container>
