:root {
  --colorRoyalDarkBlue: #11296b;
  --colorUsafaBlue: #00509d;
  --colorBlueJeans: #5aa9e6;
  --colorLightSkyBlue: #7fc8f8;
  --colorCultured: #f9f9f9;
  --colorMinionYellow: #ffe45e;
  --colorSunglow: #ffcb05;
}

html,
body {
  margin: 0px;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--colorBlueJeans);
}

li {
  list-style-type: none;
}

.Section {
  border-radius: 15px;
  background-color: var(--colorLightSkyBlue);
  color: var(--colorRoyalDarkBlue);
  padding: 10px 20px 10px 20px;
}